body{
  background-color: #000000;
  color: #ffffff;
}

.menu-title{
  border-bottom: 2px solid #EA002A;
  border-bottom-width: 5px;
  width: 50%;
}
.card{
 background-color: #1c1816;
height: 300px;
margin-bottom: 50px;
}
.card img{
  margin-top: -40px;
 }

.card-body{
  margin-top: -40px;
}
button{margin-top: 5px;
  border:0px;
  background-color: #EA002A !important;
}
.btn{
  border: none;
  border-bottom: none;
}
.productDes{
  height: 50px;
  overflow: hidden;
}
